@import '../../../styles/variables/variable';
@import "../../../styles/mixins/mixin-flex";
@import '../../../styles/inputs/mixin-input';
@import '../../../styles/inputs/mixin-input-validate';
@import "../../../styles/mixins/mixin-hint-variant";

@import "../../../styles/buttons/button-primary";

@import "../../../styles/inputs/input";
@import "../../../styles/inputs/input-with-icon";
@import "../../../styles/inputs/radio-btn";
@import "../../../styles/inputs/textarea";
@import "../../../styles/inputs/checkbox";


.ah-svg-rub {
  width: $ico-rub-size;
  margin: $ico-rub-space;
}

// Sum.
.ah-sum {
  font-size: $font-form-big;
  text-align: center;
  position: relative;

  > *:not([class*='__hint']) {
    margin: $space-base;
  }

  &__hint {
    @include hint-variant($color-red, $font-roboto-reg, $font-small);
    position: absolute;
    top: 100%;
    margin: $space-base-half 0 0 $space-base;
  }

  // For Desktop & Tablet.
  @media (min-width: $screen-sx) {
    & {
      @include flex-align(inline-flex, flex-start, center);
      flex-wrap: wrap;

      &__switcher {
        @include flex-align(inline-flex, flex-start, center);
        flex-wrap: wrap;
      }
    }
  }
}

// Forms Inputs.
.ah-form {
  &__control {
    padding: $space-base;
  }

  // For Desktop & Tablet.
  @media (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;

    &__control {
      flex: 50%;
    }

    .ah-width-full {
      flex: 100%;
    }
  }

  + [class*='ah-btn--'] {
    margin-top: $space-small;
  }
}

.ah-form,
.ah-sum {
  margin: $space-base (-$space-base);
}
