<nav class="ah-page--header"
     [class.ah-bg-primary]="isDonateStep">
  <div class="ah-container">
    <ul class="ah-nav">
      <li class="ah-logo">
        <ng-container *ngIf="isDonateStep; else donateLogo">
          <a href="#"
             (click)="toggleDonateForm()">{{headerText.logo}}</a>
        </ng-container>
      </li>
      <li>
        <a class="ah-link"
           href="https://hrupkie.ru/"
           target="_blank">{{headerText.directToMainSite}}</a>
      </li>
      <li *ngIf="!isDonateStep">
        <a class="ah-btn--secondary"
           (click)="toggleDonateForm()"
           href="#">
          {{headerText.helpButton}}
        </a>
      </li>
    </ul>
  </div>
</nav>

<ng-template #donateLogo>
  {{headerText.logo}}
</ng-template>
