<footer class="ah-footer">
  <div class="ah-container">
    <div class="ah-contacts">
      <ul class="ah-contacts__item">
        <li>
          <a class="ah-link"
             href="tel:+79035900400"
             rel="nofollow">+7-903-590-04-00</a></li>
        <li>
          <a class="ah-link"
             href="mailto:info@hrupkie.ru?subject=Mail from help.hrupkie">info@hrupkie.ru</a></li>
        <li>
          <div class="ah-soc">
            <a *ngFor="let item of socials"
               target="_blank"
               href="{{item.link}}">
              <i class="fab fa-{{item.icon}}"></i>
            </a>
          </div>
        </li>
      </ul>
      <ul class="ah-contacts__item">
        <li>Юридический адрес: 127051, г. Москва, Цветной Бульвар, д. 2</li>
        <li>Физический адрес: 125284, г. Москва, 1-й Боткинский пр-д, д. 7с1</li>
        <li>Почтовый адрес: 143090, МО, г. Краснознаменск, ул. Победы, д. 15, кв.11</li>
        <li class="ah-thanks">спасибо за помощь в разработке:</li>
        <li>
          <a class="ah-link"
             target="_blank"
             href="https://primaxdigital.ru/">primaxdigital.ru</a>&nbsp;
          <a class="ah-link"
             target="_blank"
             href="https://buroburo.ru/">buroburo.ru</a>&nbsp;
          <a class="ah-link"
             target="_blank"
             href="https://www.linkedin.com/in/marina-ismailova-b281958a/">mariskaS</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
