@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.woff");
}
@font-face {
  font-family: "Akrobat";
  src: url("./fonts/Akrobat-Regular.woff");
}
@font-face {
  font-family: "Akrobat-Bold";
  src: url("./fonts/Akrobat-Bold.woff");
}
