.ah-nav {
  margin: -$space-base-half;
  text-align: center;

  li {
    padding: $space-base-half;
  }

  // For Desktop & Tablet.
  @media (min-width: $screen-sm) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.ah-logo {
  text-transform: uppercase;
  font-size: $font-form-h4;
  white-space: nowrap;
  color: $color-base;

  // For Desktop & Tablet.
  @media (min-width: $screen-sm) {
    flex: 1;
    text-align: left;
  }
}
