[class*="swiper-button-"] {
  position: absolute;
  top: 50%;
  font-size: $swiper-btn-size;
  z-index: $z-index-swiper-btn;
  cursor: pointer;
}

.swiper-button {
  &-prev {
    left: $swiper-btn-space;
  }

  &-next {
    right: $swiper-btn-space;
  }

  &-disabled {
    opacity: .1;
    cursor: default;
  }
}
