@import "mixins/mixin-response-font";

a {
  color: $color-primary;
  text-decoration: none;
}

.ah-h1,
.ah-h4 {
  font-family: $font-akrobat-bold;
  text-transform: uppercase;
}

.ah-h1 {
  color: $color-primary-dark;
  @include response-font($font-h1-response);
}

.ah-h4 {
  font-size: $font-base;
  color: $color-black;
}

