$color-peach: #f8f0e8;

$color-primary: #0d62b1;
$color-primary-dark: #042c52;

$color-base: $color-primary-dark;

$color-grey-light: #c6ced3;
$color-grey: #949494;

$color-white: #ffffff;
$color-black: #222222;

$color-red: #e12b2b;
$color-red-light: #f65b47;

// Controls (Use in inputs).
$border-control-grey: solid 1px $color-grey-light;

// Socials.
$soc-facebook: #4267b2;
$soc-twitter: #03A9F4;
$soc-vk: #4a76a8;
$soc-ok: #EE8208;

// Header.
$header-bg: $color-primary;
$header-color: $color-white;

// Footer.
$footer-bg: $color-primary;
$footer-color: $color-white;


